In [14]:
import pandas as pd
print(pd. __version__)
#load the data
data = pd.read_csv("thesis_data.csv")
data.head()
data.shape

1.4.4

(40, 231)

In [6]:
#filter out unwanted columns from the dataframe
df = data.drop(index=[0,1], columns = ['StartDate', 'EndDate', 'Status', 'IPAddress', 'Finished',
       'Duration (in seconds)', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'A1.aud.time_First Click', 
       'A1.aud.time_Last Click', 'A1.aud.time_Click Count', 'A1.time_Page Submit',
       'A2.aud.time_First Click', 'A2.aud.time_Last Click', 'A2.aud.time_Click Count',
       'A2.time_Page Submit', 'A3.aud.time_First Click', 'A3.aud.time_Last Click', 
       'A3.aud.time_Click Count', 'A3.time_Page Submit', 'B1.aud.time_First Click', 
       'B1.aud.time_Last Click', 'B1.aud.time_Click Count', 'B1.time_Page Submit',
       'B2.aud.time_First Click', 'B2.aud.time_Last Click', 'B2.aud.time_Click Count',
       'B2.time_Page Submit', 'B3.aud.time_First Click', 'B3.aud.time_Last Click', 
       'B3.aud.time_Click Count', 'B3.time_Page Submit', 'C1.aud.time_First Click', 
       'C1.aud.time_Last Click', 'C1.aud.time_Click Count', 'C1.time_Page Submit',
       'C2.aud.time_First Click', 'C2.aud.time_Last Click', 'C2.aud.time_Click Count',
       'C2.time_Page Submit', 'C3.aud.time_First Click', 'C3.aud.time_Last Click', 
       'C3.aud.time_Click Count', 'C3.time_Page Submit', 'D1.aud.time_First Click', 
       'D1.aud.time_Last Click', 'D1.aud.time_Click Count', 'D1.time_Page Submit',
       'D2.aud.time_First Click', 'D2.aud.time_Last Click', 'D2.aud.time_Click Count',
       'D2.time_Page Submit', 'D3.aud.time_First Click', 'D3.aud.time_Last Click', 
       'D3.aud.time_Click Count', 'D3.time_Page Submit', 'email', 'open'])

df.head()

,Progress,Consent,A1.aud.time_Page Submit,A1.1,A1.2,A1.3,A1.time_First Click,A1.time_Last Click,A1.time_Click Count,A1.rate_1,...,D3.rate_4,D3.rate_5,D3.att_4,Gender,Age,EngFL,EngProf,SC0,SC1,SC2
2,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,39,4,2,1,1,2,3,3
3,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,2,2,2,1,3,2
4,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,2,2,2,2,1,1
5,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,2,2,2,1,1,2
6,100,1,166.751,2,3,2,3.089,49.789,13,3,...,NaN,NaN,NaN,4,2,2,2,2,3,1

In [7]:
#recode columns that have numeric values as the categories back to the label name
df['Gender'] = pd.to_numeric(df['Gender'])
df.Gender.replace({1:"Man", 4:"Woman", 5:"Non-binary", 6:"Other"}, inplace=True)

df['Age'] = pd.to_numeric(df['Age'])
df.Age.replace({1:"below 18", 2:"18-23", 3:"24-30", 4:"31-36", 5:"37-42", 6:"43-49", 7:"50+"}, inplace=True)

df['EngProf'] = pd.to_numeric(df['EngProf'])
df.EngProf.replace({1:"Native/Bilingual", 2:"Professional Working Proficiency", 
                    3:"Limited working Proficiency",4:"Elementary Proficiency"}, inplace=True)
df['EngFL'] = pd.to_numeric(df['EngFL'])
df.EngFL.replace({1:"Yes", 2:"No"}, inplace=True)

,Progress,Consent,A1.aud.time_Page Submit,A1.1,A1.2,A1.3,A1.time_First Click,A1.time_Last Click,A1.time_Click Count,A1.rate_1,...,D3.rate_4,D3.rate_5,D3.att_4,Gender,Age,EngFL,EngProf,SC0,SC1,SC2
2,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,39,Woman,18-23,Yes,Native/Bilingual,2,3,3
3,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Woman,18-23,No,Professional Working Proficiency,1,3,2
4,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Woman,18-23,No,Professional Working Proficiency,2,1,1
5,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Woman,18-23,No,Professional Working Proficiency,1,1,2
6,100,1,166.751,2,3,2,3.089,49.789,13,3,...,NaN,NaN,NaN,Woman,18-23,No,Professional Working Proficiency,2,3,1
7,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Man,18-23,Yes,Native/Bilingual,2,1,3
8,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Man,18-23,Yes,Native/Bilingual,3,2,1
9,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,4,51,Man,18-23,No,Native/Bilingual,1,2,3
10,100,1,162.68,1,2,2,7.446,75.209,3,3,...,NaN,NaN,NaN,Man,18-23,No,Native/Bilingual,2,3,3
11,71,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
12,73,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
13,71,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
14,71,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
15,87,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,19,NaN,NaN,NaN,NaN,2,0,0
16,79,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2
17,71,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
18,100,1,186.039,1,3,2,3.704,28.384,3,3,...,NaN,NaN,NaN,Non-binary,18-23,Yes,Native/Bilingual,3,3,3
19,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Man,24-30,No,Native/Bilingual,2,2,2
20,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,3,32,Woman,18-23,No,Professional Working Proficiency,2,2,1
21,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Man,18-23,Yes,Native/Bilingual,3,2,3
22,100,1,168.198,3,2,1,1.775,82.084,15,4,...,NaN,NaN,NaN,Woman,24-30,No,Professional Working Proficiency,0,2,2
23,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Woman,50+,No,Limited working Proficiency,3,3,2
24,100,1,167.628,1,3,2,3.036,16.54,9,4,...,NaN,NaN,NaN,Non-binary,18-23,No,Native/Bilingual,3,3,3
25,100,1,164.458,2,3,2,8.501,25.28,6,4,...,NaN,NaN,NaN,Woman,18-23,Yes,Native/Bilingual,2,3,0
26,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Woman,18-23,No,Professional Working Proficiency,2,1,2
27,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Man,18-23,Yes,Native/Bilingual,2,1,2
28,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,45,Man,18-23,No,Professional Working Proficiency,2,3,2
29,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,3,85,Woman,18-23,Yes,Native/Bilingual,1,3,2
30,100,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
31,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Non-binary,18-23,No,Professional Working Proficiency,2,3,1
32,71,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
33,100,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
34,73,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
35,71,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
36,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
37,73,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
38,71,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
39,100,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Man,below 18,Yes,Native/Bilingual,2,1,2

In [8]:
#change data type of columns 'Progress' and 'Consent' to numeric.
df['Progress'] = pd.to_numeric(df['Progress'])
df['Consent'] = pd.to_numeric(df['Consent'])

#change data type of all columns containing the amount of time the participants spent listened to the audio to numeric.
df['A1.aud.time_Page Submit'] = pd.to_numeric(df['A1.aud.time_Page Submit'])
df['A2.aud.time_Page Submit'] = pd.to_numeric(df['A2.aud.time_Page Submit'])
df['A3.aud.time_Page Submit'] = pd.to_numeric(df['A3.aud.time_Page Submit'])
df['B1.aud.time_Page Submit'] = pd.to_numeric(df['B1.aud.time_Page Submit'])
df['B2.aud.time_Page Submit'] = pd.to_numeric(df['B2.aud.time_Page Submit'])
df['B3.aud.time_Page Submit'] = pd.to_numeric(df['B3.aud.time_Page Submit'])
df['C1.aud.time_Page Submit'] = pd.to_numeric(df['C1.aud.time_Page Submit'])
df['C2.aud.time_Page Submit'] = pd.to_numeric(df['C2.aud.time_Page Submit'])
df['C3.aud.time_Page Submit'] = pd.to_numeric(df['C3.aud.time_Page Submit'])
df['D1.aud.time_Page Submit'] = pd.to_numeric(df['D1.aud.time_Page Submit'])
df['D2.aud.time_Page Submit'] = pd.to_numeric(df['D2.aud.time_Page Submit'])
df['D3.aud.time_Page Submit'] = pd.to_numeric(df['D3.aud.time_Page Submit'])

#Filter columns 'Progress' and 'Consent' to only include data of those who consented to and completed at least 2 out of 3 of the audio tasks.
df = df[(df['Progress'] > 75) & (df['Consent'] == 1)]

#Filter out participants that did not listen to the full audio
df = df[((df['A1.aud.time_Page Submit'] > 164) | (df['A2.aud.time_Page Submit'] > 222) | (df['A3.aud.time_Page Submit'] > 195)) |
                  ((df['B1.aud.time_Page Submit'] > 216) | (df['B2.aud.time_Page Submit'] > 186) | (df['B3.aud.time_Page Submit'] > 203)) |
                  ((df['C1.aud.time_Page Submit'] > 184) | (df['C2.aud.time_Page Submit'] > 196) | (df['C3.aud.time_Page Submit'] > 168)) |
                  ((df['D1.aud.time_Page Submit'] > 191) | (df['D2.aud.time_Page Submit'] > 164) | (df['D3.aud.time_Page Submit'] > 218))]

In [9]:
'''The rest of the code is going to clean the data. We will restructure the data to have a column named "Version"
which will contain the version of the experiment that each participant participated in. By doing so we can get rid 
of the multiple cells in each row that contain NaN values that correspond to the other versions of the experiment.'''

#create 4 subsets of the data for each version of the survey
x = df.loc[:,'Gender': 'SC2'].copy()  #all the demographic data
a = df.loc[:,'A1.aud.time_Page Submit':'A3.att_4'].copy()  #all the columns for the specified version
b = df.loc[:,'B1.aud.time_Page Submit':'B3.att_4'].copy()
c = df.loc[:,'C1.aud.time_Page Submit':'C3.att_4'].copy()
d = df.loc[:,'D1.aud.time_Page Submit':'D3.att_4'].copy()

df_A = pd.concat([a,x],axis=1)   #merge the columns of the version specific data and demographic data 
df_B = pd.concat([b,x],axis=1)
df_C = pd.concat([c,x],axis=1)
df_D = pd.concat([d,x],axis=1)

#add a new column "Version" that has the label of the version of each subset.
df_A["Version"] = ['A'] * df_A.shape[0]
df_B["Version"] = ['B'] * df_B.shape[0]
df_C["Version"] = ['C'] * df_C.shape[0]
df_D["Version"] = ['D'] * df_D.shape[0]

In [10]:
subsets = [df_A, df_B, df_C, df_D]

#loop through all 4 subsets deleting the rows containing NaN values for that version
#The discarded rows are of participants that did not fill in that version of the experiment
for s in subsets:
    for index, row in s.iterrows():
        if pd.isnull(row[1]) & pd.isnull(row[14]) & pd.isnull(row[27]):
            s.drop(index, inplace=True)

In [11]:
#create a new list of column names
cols = ['Aud_time1', '1_1',	'1_2', '1_3', 'fc_1', 'lc_1', 'cc_1', 'Pleasant_1',	'Natural_1', 'Human_1',	'Comp_1', 'Cred_1',	'Attention_Human',	
'Aud_time2', '2_1',	'2_2', '2_3', 'fc_2', 'lc_2', 'cc_2', 'Pleasant_2',	'Natural_2', 'Human_2',	'Comp_2', 'Cred_2',	'Attention_AI',	
'Aud_time3', '3_1',	'3_2', '3_3', 'fc_3', 'lc_3', 'cc_3', 'Pleasant_3',	'Natural_3', 'Human_3',	'Comp_3', 'Cred_3',	'Attention_TTS',
'Gender', 'Age', 'EngFL', 'EngProf', 'SC_Human', 'SC_AI', 'SC_TTS', 'Version']

#rename the column names for all 4 subsets (helps concatenate them by matching the column names)
df_A.columns = cols
df_B.columns = cols
df_C.columns = cols
df_D.columns = cols

In [15]:
#merge all 4 subsets into 1 new dataframe
df_clean = pd.concat([df_A, df_B, df_C, df_D])

#convert the index into a column
df_clean.reset_index(inplace = True)

#reset the values of the index column to 1,2,3,4,...
df_clean['index'] = range(1,df_clean.shape[0]+1)

#change the column name to 'Participant_ID'
df_clean.rename(columns={'index': 'Participant_ID'}, inplace=True)

df_clean

,Participant_ID,Aud_time1,1_1,1_2,1_3,fc_1,lc_1,cc_1,Pleasant_1,Natural_1,...,Cred_3,Attention_TTS,Gender,Age,EngFL,EngProf,SC_Human,SC_AI,SC_TTS,Version
0,1,166.751,2,3,2,3.089,49.789,13,3,3,...,2,30,Woman,18-23,No,Professional Working Proficiency,2,3,1,A
1,2,162.680,1,2,2,7.446,75.209,3,3,5,...,2,81,Man,18-23,No,Native/Bilingual,2,3,3,A
2,3,186.039,1,3,2,3.704,28.384,3,3,3,...,1,60,Non-binary,18-23,Yes,Native/Bilingual,3,3,3,A
3,4,168.198,3,2,1,1.775,82.084,15,4,2,...,3,50,Woman,24-30,No,Professional Working Proficiency,0,2,2,A
4,5,167.628,1,3,2,3.036,16.54,9,4,4,...,2,35,Non-binary,18-23,No,Native/Bilingual,3,3,3,A
5,6,164.458,2,3,2,8.501,25.28,6,4,2,...,2,10,Woman,18-23,Yes,Native/Bilingual,2,3,0,A
6,7,219.469,4,1,1,21.47,82.743,14,3,3,...,1,10,Woman,18-23,No,Professional Working Proficiency,1,3,2,B
7,8,331.537,2,4,2,23.638,78.621,4,4,4,...,4,84,Woman,18-23,No,Professional Working Proficiency,1,1,2,B
8,9,221.287,4,2,1,6.113,24.732,3,4,4,...,1,16,Man,24-30,No,Native/Bilingual,2,2,2,B
9,10,218.075,4,2,1,5.028,19.181,6,3,5,...,1,50,Man,18-23,Yes,Native/Bilingual,2,1,2,B
10,11,233.285,2,2,2,2.635,27.23,8,5,5,...,3,40,Man,below 18,Yes,Native/Bilingual,2,1,2,B
11,12,187.901,3,2,4,9.532,71.221,8,4,2,...,1,70,Woman,18-23,No,Professional Working Proficiency,2,1,1,C
12,13,187.594,2,2,4,24.616,50.789,4,3,3,...,2,76,Man,18-23,Yes,Native/Bilingual,2,1,3,C
13,14,188.427,4,2,4,6.811,22.765,6,4,4,...,4,80,Man,18-23,Yes,Native/Bilingual,3,2,3,C
14,15,190.701,4,2,4,5.045,32.815,6,4,5,...,1,31,Woman,50+,No,Limited working Proficiency,3,3,2,C
15,16,190.753,4,2,2,12.902,52.41,6,3,4,...,2,53,Woman,18-23,No,Professional Working Proficiency,2,1,2,C
16,17,189.471,4,2,2,6.202,31.397,6,4,5,...,3,60,Non-binary,18-23,No,Professional Working Proficiency,2,3,1,C
17,18,194.745,1,2,2,12.744,22.634,3,3,5,...,4,51,Man,18-23,No,Native/Bilingual,1,2,3,D
18,19,197.941,2,4,2,6.376,28.889,7,3,4,...,1,19,NaN,NaN,NaN,NaN,2,0,0,D
19,20,194.701,2,4,2,6.742,39.703,8,4,3,...,3,32,Woman,18-23,No,Professional Working Proficiency,2,2,1,D
20,21,196.162,2,4,2,7.097,19.375,7,3,5,...,2,45,Man,18-23,No,Professional Working Proficiency,2,3,2,D
21,22,194.701,1,4,1,4.167,37.844,10,1,3,...,3,85,Woman,18-23,Yes,Native/Bilingual,1,3,2,D

In [13]:
#download the cleaned data as a .csv file
df_clean.to_csv("Thesis_data_clean.csv")